html {
  /* 10px size if default is 16 px to conver to 10px we do 10/16*/
  font-size: 62.5%; }

body {
  background-color: #e0e0e0; }

.dwn__select {
  font-weight: 700;
  font-size: 1.8rem;
  color: #4d4d4d;
  text-transform: uppercase; }

.navbar {
  background-color: #b83400;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%; }
  .navbar-default {
    border: none;
    border-color: inherit; }
  .navbar-container {
    min-height: 8rem; }
  .navbar-header .navbar-brand {
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 2rem; }
  .navbar-default .navbar-nav--up {
    display: block; }
  .navbar-default .navbar-nav--down {
    display: block; }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 2rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase; }

.slideShow {
  margin-bottom: 3rem; }
  .slideShow .carousel-inner {
    height: 80vh; }
  .slideShow-photo--bg {
    height: 80vh;
    background-size: cover;
    background-position: center; }

.rental__periodform {
  margin-bottom: 1rem; }
  .rental__periodform-box {
    text-transform: uppercase;
    width: 100%;
    background-color: #4d4d4d;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #e0e0e0; }
    .rental__periodform-box:after {
      content: "";
      display: table;
      clear: both; }
  .rental__periodform-inputboxes {
    width: 100%; }
    .rental__periodform-inputboxes:after {
      content: "";
      display: table;
      clear: both; }
    .rental__periodform-inputboxes .ib-row {
      width: 100%; }
      .rental__periodform-inputboxes .ib-row:after {
        content: "";
        display: table;
        clear: both; }
      .rental__periodform-inputboxes .ib-row:not(:last-child) {
        margin-bottom: .4rem; }
      .rental__periodform-inputboxes .ib-row [class="ib-timepickers"] {
        float: left; }
        .rental__periodform-inputboxes .ib-row [class="ib-timepickers"]:not(:last-child) {
          margin-right: 0.4rem; }
    .rental__periodform-inputboxes .ib-timepickers {
      width: 50%;
      width: calc((100% - .4rem)/2); }
    .rental__periodform-inputboxes .ib-timepickers-fullWidth {
      width: 100%;
      margin-bottom: .4rem; }
      .rental__periodform-inputboxes .ib-timepickers-fullWidth .input-group .input-date {
        border-radius: 0;
        background-color: #cecece; }
      .rental__periodform-inputboxes .ib-timepickers-fullWidth .input-group .timepicker-addon {
        border-radius: 0;
        background-color: #cecece; }
  .rental__periodform .inputsTest {
    background-color: #cecece; }
  .rental__periodform .show-extraDay-messageBox {
    width: 70%;
    margin: 0 auto; }
    .rental__periodform .show-extraDay-messageBox .show-extraDay-message {
      text-transform: uppercase;
      color: #b83400;
      font-weight: 700;
      padding: 3rem; }

.span-title {
  float: left;
  display: inline-block; }

.span-price {
  float: right;
  display: inline-block; }

.dwn__select {
  width: 100%; }
  .dwn__select-container:after {
    content: "";
    display: table;
    clear: both; }
  .dwn__select-default {
    width: 90%;
    float: left;
    background-color: #cecece;
    padding: .5rem 1.5rem;
    min-height: 35px;
    cursor: pointer; }
  .dwn__select-btn {
    width: 10%;
    float: right;
    background-color: #cecece;
    padding: .5rem 1.5rem;
    min-height: 35px;
    display: inline-block; }
    .dwn__select-btn:link, .dwn__select-btn:visited {
      color: #4d4d4d; }
  .dwn__select .dwn__select-list {
    position: relative;
    width: 100%; }
    .dwn__select .dwn__select-list:after {
      content: "";
      display: table;
      clear: both; }
    .dwn__select .dwn__select-list .dwn__select-content {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 99;
      background-color: #cecece;
      display: none;
      cursor: pointer;
      max-height: 250px;
      overflow: hidden;
      overflow-y: scroll; }
      .dwn__select .dwn__select-list .dwn__select-content ul {
        padding: 0;
        margin: 0; }
      .dwn__select .dwn__select-list .dwn__select-content ul li {
        list-style: none;
        padding: .5rem 1.5rem;
        border-bottom: 2px solid #4d4d4d; }
        .dwn__select .dwn__select-list .dwn__select-content ul li:last-child {
          padding-bottom: 0; }
      .dwn__select .dwn__select-list .dwn__select-content ul li:hover {
        background-color: white; }
      .dwn__select .dwn__select-list .dwn__select-content-place {
        display: inline-block; }
      .dwn__select .dwn__select-list .dwn__select-content-price {
        position: absolute;
        right: 2rem;
        display: inline-block;
        margin-left: 3rem; }
  .dwn__select .show {
    display: block; }

.driverDetails {
  margin-bottom: 1.5rem; }

.innerDriverContainer {
  position: relative; }
  .innerDriverContainer .btnRemoveDriver {
    position: absolute;
    top: 0;
    right: -3rem;
    height: 100%;
    min-height: 3rem;
    font-size: 2.7rem;
    color: #b83400;
    cursor: pointer; }

.driverToggle {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
  background-color: #cecece;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 0.2rem; }
  .driverToggle:after {
    content: "";
    display: table;
    clear: both; }
  .driverToggle:hover {
    background-color: #4d4d4d;
    color: #cecece; }
  .driverToggle .driverToggle-title {
    padding: 0.5rem 1.5rem; }
    .driverToggle .driverToggle-title .driverNo {
      float: left; }
    .driverToggle .driverToggle-title .symbol {
      float: right; }

.driverDetailsForm {
  margin-bottom: .5rem; }

.inputContainer {
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  position: relative;
  min-height: 3.5rem;
  background: #cecece; }
  .inputContainer input[type=text], .inputContainer select, .inputContainer textarea {
    width: 100%;
    border-radius: none;
    border: none;
    background-color: #cecece;
    font-size: 1.8rem;
    font-weight: 700;
    color: inherit; }
  .inputContainer textarea {
    resize: none; }
  .inputContainer input[type=text]:focus, .inputContainer Select:focus, .inputContainer textarea:focus {
    outline: none; }
  .inputContainer select option {
    outline: none; }

.CostumerDetails {
  margin-top: 1rem; }
  .CostumerDetails:after {
    content: "";
    display: table;
    clear: both; }

.commentRight {
  max-height: 18.1rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-rigth-small {
  margin-right: 4rem; }

.u-margin-left-md {
  margin-left: 7rem; }

.u-span-block {
  display: block; }

.u-clear-margin-left {
  margin-left: 0; }

.u-clear-margin-right {
  margin-right: 0; }

.u-clear-padding-left {
  padding-left: 0; }

.u-clear-padding-right {
  padding-right: 0; }

.u-decrease-padding-left-s {
  padding-left: 1rem; }

.u-decrease-padding-right-s {
  padding-right: 1rem; }

.u-decrease-padding-left-m {
  padding-left: .2rem; }

.u-decrease-padding-right-m {
  padding-right: .2rem; }

.u-smaller-container {
  width: 80%;
  margin: 0 auto; }

.car__info-container {
  width: 80%;
  margin: 0 auto; }

.car__info-inner {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  position: relative;
  border-bottom: 1px solid black;
  min-height: 10rem; }
  .car__info-inner:after {
    content: "";
    display: table;
    clear: both; }
  .car__info-inner ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.car__info--left {
  width: 80%;
  float: left; }
  .car__info--left ul li {
    padding: 0rem 2rem 1rem 0; }

.car__info--middle {
  height: 90%;
  width: 1px;
  background: black;
  top: 0;
  left: 5rem;
  position: absolute;
  left: 80%; }

.car__info--right {
  width: 19.8%;
  float: left; }
  .car__info--right ul li {
    padding: 0 2rem 0 2rem; }

.car__title .heading-car-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 0;
  padding-bottom: 0; }

.car__title .heading-car-subtitle {
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #4d4d4d; }

.car__title .price {
  font-weight: 700;
  color: #4d4d4d; }

.car__title-container {
  width: 80%;
  margin: 0 auto; }
  .car__title-container:after {
    content: "";
    display: table;
    clear: both; }

.car__title--left {
  width: 80%;
  float: left; }

.car__title--right {
  width: 20%;
  float: left; }

.product__header {
  margin-top: 3rem; }
  .product__header-container {
    width: 80%;
    margin: 0 auto; }
  .product__header .product-heading {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: #4d4d4d;
    margin: 0;
    padding: 0; }
  .product__header .product-heading-legent {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem; }

.rental__extras {
  margin-bottom: .6rem; }

.rental__extras-itemsContainer, .orderItems-row {
  width: 100%; }
  .rental__extras-itemsContainer:after, .orderItems-row:after {
    content: "";
    display: table;
    clear: both; }

.orderItems-row {
  margin-bottom: 0.4rem; }

.extraSmall-container {
  position: relative;
  width: 5%;
  float: left;
  margin-right: .4rem;
  background-color: #cecece;
  height: 4.2rem; }
  .extraSmall-container .counterContainer {
    width: 100%;
    margin: 0 auto; }
    .extraSmall-container .counterContainer .btnUp {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      padding-top: 2px;
      color: #4d4d4d;
      cursor: pointer; }
    .extraSmall-container .counterContainer .btnDown {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      padding-bottom: 2px;
      cursor: pointer;
      color: #4d4d4d; }
  .extraSmall-container .checkBoxContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; }

.extraBig-container {
  width: calc((95% - .4rem));
  float: left;
  background-color: #cecece;
  height: 4.2rem; }
  .extraBig-container .orderItemInner {
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    color: #4d4d4d;
    min-height: 3.5rem;
    font-weight: 700;
    font-size: 1.8rem; }
    .extraBig-container .orderItemInner .xtraName {
      float: left;
      padding-top: 4px; }
    .extraBig-container .orderItemInner .xtraShow {
      float: left;
      padding-top: 4px;
      margin: 0 3rem;
      cursor: pointer;
      background-color: #4d4d4d;
      color: #cecece;
      width: 30px;
      border-radius: 50px; }
      .extraBig-container .orderItemInner .xtraShow .symbol {
        display: block;
        margin: 0 auto;
        width: 10px;
        padding-right: 5px; }
    .extraBig-container .orderItemInner .xtraPrice {
      float: right;
      padding-top: 4px;
      text-decoration: line-through; }
    .extraBig-container .orderItemInner .removeLine {
      text-decoration: none; }

.my-row {
  width: 100%; }
  .my-row:after {
    content: "";
    display: table;
    clear: both; }
  .my-row:not(:last-child) {
    margin-bottom: 0.2rem; }
  .my-row [class^="mygrid-col"] {
    float: left; }
    .my-row [class^="mygrid-col"]:not(:last-child) {
      margin-right: 0.2rem; }
  .my-row .mygrid-col-1-of-1 {
    width: 100%; }
  .my-row .mygrid-col-1-of-2 {
    width: calc((100% - 0.2rem)/2); }
