<!DOCTYPE html>
<html ng-app="Product">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/vendor/daterangepicker.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/vendor/angular.min.js"></script>
  <script src="/js/vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="/js/vendor/angurlar-resource.js"></script>
  <!--script src="/js/app/pages/products/productPage.js"></script-->
  <!--only for heroku app -->
  <script src="/js/appl.js"></script>

  <title>geysir</title>
</head>

<body ng-controller="mainCtrl as vm">
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="navbar-brand-image" src="//www.geysir.is/images/extra/geysir_navbar_logo.png" alt=""></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">
            <span class="navbar-nav--up">All our</span>
            <span class="navbar-nav--down">vehicles</span>
          </a></li>
          <li><a href="#">
            <span class="navbar-nav--up">Our</span>
            <span class="navbar-nav--down">Locations</span>
          </a></li>
          <li><a href="#">
            <span class="navbar-nav--up">Term &</span>
            <span class="navbar-nav--down">Conditions</span>
          </a></li>
          <li><a href="#">
            <span class="navbar-nav--up">Cancellation</span>
            <span class="navbar-nav--down">Policy</span>
          </a></li>
          <li><a href="#">
            <span class="navbar-nav--up">Frequency</span>
            <span class="navbar-nav--down">asked questions</span>
          </a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <section class="slideShow" ng-controller="slideCtrl">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!--ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol-->

      <!-- Wrapper for slides -->
      <div id="slider-inner" class="carousel-inner" role="listbox">

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </section>

  <section class="car__title">
    <div class="container">
      <div class="row">
        <div class="car__title-container">
          <div class="car__title--left">
            <h2 class="heading-car-title">CAR NAME</h2>
            <h3 class="heading-car-subtitle">subtitle</h3>
          </div>
          <div class="car__title--right">
            <h1 class="price">€ 999</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="car__info">
    <div class="container">
      <div class="row">
        <div class="car__info-container">
          <div class="car__info-inner">
            <div class="car__info--left">
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
              </ul>
            </div>
            <div class="car__info--middle">
            </div>
            <div class="car__info--right">
              <ul>
                <li>property 1</li>
                <li>property 2</li>
                <li>property 3</li>
                <li>property 4</li>
                <li>property 5</li>
                <li>property 6</li>
                <li>property 7</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product__header">
    <div class="container">
      <div class="row">
        <div class="product__header-container">
          <div class="col-md-6 u-clear-padding-left">
            <h1 class="product-heading">
                Product Heading
              </h1>
          </div>
          <div class="col-md-6 u-clear-padding-right">
            <p class="product-heading-legent">
              <span class="u-span-block">FILL IN DATES, TIMES AND RENTAL LOCATIONS IN THE FORM BELOW</span>
              <span class="u-span-block">ADD EXTRAS AS DESIRED AND GET AN INSTANT PRICE</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="rental__periodform">
    <div class="container">
      <div class="row">
        <div class="rental__periodform-selectors u-smaller-container">
          <div class="col-md-6 u-clear-padding-left
            u-decrease-padding-right-s">
            <div class="rental__periodform-time">
              <div class="rental__periodform-box">
                <span class="span-title">Rental</span>
                <span class="span-price">€ <span ng-bind="rentalPrice"></span></span>
              </div>
            </div>
            <div class="rental__periodform-inputboxes">
              <div class="ib-row">
                <div class="ib-timepickers-fullWidth">
                  <div class="input-group">
                    <input type="text" class="form-control input-date" id="daterange" name="daterange" value="PICK YOUR DATES">
                    <span class="input-group-addon timepicker-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                  <!--div class="inputsTest">start Date</div-->
                </div>
              </div>
              <div class="ib-row">
                <div class="ib-timepickers">
                  <div class="input-group bootstrap-timepicker timepicker">
                    <input id="timepicker1" type="text" class="form-control input-small">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </div>
                <div class="ib-timepickers">
                  <div class="input-group bootstrap-timepicker timepicker">
                    <input id="timepicker2" type="text" class="form-control input-small">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 u-clear-padding-right
            u-decrease-padding-left-s">
            <div class="rental__periodform-location">
              <div class="rental__periodform-box">
                <span class="span-title">Location</span>
                <span class="span-price">€ <span ng-bind="locationPrice"></span></span>
              </div>
            </div>
            <div class="rental__periodform-inputboxes">
              <div class="ib-row">
                <div class="ib-location-select">
                  <!--div class="inputsTest">Start Location</div-->
                  <div class="dwn__select">
                    <div class="dwn__select-container" ng-click="displayList('pickUpLocation')">
                      <div class="dwn__select-default">
                        <span id="pickUpTxt" class="locTxt">Start Location</span>
                      </div>
                      <a href="#" class="dwn__select-btn"><span><i class="glyphicon glyphicon-chevron-down icon"></i></span></a>
                    </div>
                    <div class="dwn__select-list">
                      <div id="pickUpLocation" class="dwn__select-content">
                        <ul>
                          <li clas="dwn_select-listItems" ng-repeat="pl in pickUpL" ng-click="selectLocation(pl.id,pl.showPrice,pl.code,pl.type)">
                            <span class="dwn__select-content-place" ng-bind="pl.code"></span>
                            <span class="dwn__select-content-price">
                              <span>
                                € <span ng-bind="pl.showPrice"></span>
                            </span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="ib-row">
                <div class="ib-location-select">
                  <!--div class="inputsTest">End Location</div-->
                  <div class="dwn__select">
                    <div class="dwn__select-container" ng-click="displayList('dropUpLocation')">
                      <div class="dwn__select-default">
                        <span id="dropOffTxt" class="locTxt">End Location</span>
                      </div>
                      <a href="#" class="dwn__select-btn"><span><i class="glyphicon glyphicon-chevron-down icon"></i></span></a>
                    </div>
                    <div class="dwn__select-list">
                      <div id="dropUpLocation" class="dwn__select-content">
                        <ul>
                          <li clas="dwn_select-listItems" ng-repeat="dl in dropOff" ng-click="selectLocation(dl.id,dl.showPrice,dl.code,dl.type)">
                            <span class="dwn__select-content-place" ng-bind="dl.code"></span>
                            <span class="dwn__select-content-price">
                              <span>
                                € <span ng-bind="dl.showPrice"></span>
                            </span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="showExtraDayMessage">
          <div class="show-extraDay-messageBox">
            <div class="col-md-12">
              <div class="show-extraDay-message">
                an extra day has been added because the end time exceeds start time
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </section>
  <section class="rental__extras">
    <div class="container">
      <div class="row">
        <div class="u-smaller-container">
          <div class="rental__heading">
            <div class="rental__periodform-box">
              <span class="span-title">Extras</span>
              <span class="span-price">€ <span ng-bind="extrasPrice"></span></span>
            </div>
          </div>
          <div class="rental__extras-itemsContainer">
            <div class="orderItems-row" ng-repeat="extra in extras">
              <div class="extraSmall-container">
                <div class="counterContainer" ng-if="extra.isMultiple">
                  <a class="btnUp" ng-click="addToMultipleExtra(extra.id)"><span><i class="glyphicon glyphicon-chevron-up icon" ></i></span></a>
                  <a class="btnDown" ng-click="removeToMultipleExtras(extra.id)"><span><i class="glyphicon glyphicon-chevron-down icon"></i></span></a>
                </div>
                <div class="checkBoxContainer" ng-if="!extra.isMultiple">
                  <div class="input-group">
                    <input type="checkbox" ng-click="checkBoxExtra(extra.id)">
                  </div>
                </div>
              </div>
              <div class="extraBig-container">
                <div class="orderItemInner">
                  <span class="xtraName"><span ng-if="extra.isMultiple"><span ng-bind="extra.amount"></span> - </span> <span ng-bind="extra.code"></span></span>
                  <!--span class="xtraShow"><span class="symbol">?</span></span-->
                  <span id="price-{{extra.id}}" class="xtraPrice">€ <span ng-bind="extra.showPrice"></span></span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="grandTotal">
    <div class="container">
      <div class="row">
        <div class="u-smaller-container">
          <div class="rental__periodform-box">
            <span class="span-title">TOTAL</span>
            <span class="span-price">€ <span ng-bind="rentalTotal"></span></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product__header">
    <div class="container">
      <div class="row">
        <div class="product__header-container">
          <div class="col-md-12 u-clear-padding-left">
            <h1 class="product-heading">
                Costumer Details
              </h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="CostumerDetails">
    <div class="container">
      <div class="row">
        <div class="u-smaller-container">
          <div class="my-row">
            <div class="customerDetailsinner">
              <div class="my-row">
                <div class="mygrid-col-1-of-2">
                  <div class="my-row">
                    <div class="mygrid-col-1-of-2">
                      <div class="inputContainer">
                        <input type="text" placeholder="First name" ng-model="driver.firstName" />
                      </div>
                    </div>
                    <div class="mygrid-col-1-of-2">
                      <div class="inputContainer">
                        <input type="text" placeholder="Last name" ng-model="driver.firstName" />
                      </div>
                    </div>
                  </div>
                  <div class="my-row">
                    <div class="mygrid-col-1-of-1">
                      <div class="inputContainer">
                        <input type="text" placeholder="Address" ng-model="driver.firstName" />
                      </div>
                    </div>
                  </div>
                  <div class="my-row">
                    <div class="mygrid-col-1-of-1">
                      <div class="inputContainer">
                        <input type="text" placeholder="Post Code & city" ng-model="driver.firstName" />
                      </div>
                    </div>
                  </div>
                  <div class="my-row">
                    <div class="mygrid-col-1-of-1">
                      <div class="inputContainer">
                        <select id="country" name="country">
                          <option value="default">COUNTRY OF ISSUE</option>
                          <option value="au">Australia</option>
                          <option value="ca">Canada</option>
                          <option value="usa">USA</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="my-row">
                    <div class="mygrid-col-1-of-2">
                      <div class="inputContainer">
                        <input type="text" placeholder="Mobile Phone" ng-model="driver.firstName" />
                      </div>
                    </div>
                    <div class="mygrid-col-1-of-2">
                      <div class="inputContainer">
                        <input type="text" placeholder="E-mail" ng-model="driver.firstName" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mygrid-col-1-of-2">
                  <div class="inputContainer">
                     <div class="commentRight">
                       <textarea placeholder="Customer comments/request" cols="30" rows="7"></textarea>
                     </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product__header">
    <div class="container">
      <div class="row">
        <div class="product__header-container">
          <div class="col-md-5 u-clear-padding-left">
            <h1 class="product-heading">
                Driver Details
              </h1>
          </div>
          <div class="col-md-7 u-clear-padding-right">
            <p class="product-heading-legent">
              <span class="u-span-block">Only registered drivers are insured to drive the rented vehicle</span>
              <span class="u-span-block">You can add or delete more drivers in the extras column on the left</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="driverDetails" ng-repeat="driver in driverInfo">
    <div class="container">
      <div class="row">
        <div class="u-smaller-container">
          <div class="innerDriverContainer">
            <div class="driverToggle" ng-click="showDriverDetailsForm(driver.id)">
              <div class="driverToggle-title">
                <span class="driverNo">Driver #<span ng-bind="$index+1"></span></span><span class="symbol"><i class="glyphicon glyphicon-chevron-down icon"></i></span>
              </div>
            </div>
            <div class="btnRemoveDriver" ng-if="driver.eraseButton">
              <i class="glyphicon glyphicon-remove-sign" ng-click="removeExtraDriver(driver.id)"></i>
            </div>
          </div>
          <div class="driverDetailsForm" id="driverForm-default" ng-if="driver.isShowing">
            <div class="my-row">
              <div class="mygrid-col-1-of-2">
                <div class="inputContainer">
                  <input type="text" placeholder="FIRST NAME" ng-model="driver.firstName" />
                </div>
              </div>
              <div class="mygrid-col-1-of-2">
                <div class="inputContainer">
                  <input type="text" placeholder="LAST NAME" ng-model="driver.lastName" />
                </div>
              </div>
            </div>
            <div class="my-row">
              <div class="mygrid-col-1-of-2">
                <div class="inputContainer">
                  <select id="country" name="country">
                    <option value="default">COUNTRY OF ISSUE</option>
                    <option value="au">Australia</option>
                    <option value="ca">Canada</option>
                    <option value="usa">USA</option>
                  </select>
                </div>
              </div>
              <div class="mygrid-col-1-of-2">
                <div class="inputContainer">
                  <input type="text" placeholder="LICENCE NUMBER" ng-model="driver.license" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/geysir.js" type="text/javascript"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/vendor/moment.min.js"></script>
  <script src="/js/vendor/daterangepicker.js"></script>
  <script src="/js/vendor/bootstrap-timepicker.min.js"></script>
</body>

</html>
