.navbar {
  background-color: $color-primary;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;

  &-default {
    border: none;
    border-color: inherit;
  }

  &-container {
    min-height: 8rem;
  }

  &-header {
    .navbar-brand {
      padding: 2rem;
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }

  &-default {
    .navbar-nav {
      &--up {
        display: block;
      }
      &--down {
        display: block;
      }
      & > li > a {
        color: $color-white;
        padding: 2rem;
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }
}
