.rental__periodform {
  &-selectors {}

  &-time {}

  &-location {}

  &-box {
    @include clearfix;
    text-transform: uppercase;
    width: 100%;
    background-color: $color-dark-gray;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-light-gray;
  }

  .span-title {
    float: left;
    display: inline-block;
  }

  .span-price {
    float: right;
    display: inline-block;
  }

  &-inputboxes {
    @include clearfix;
    width: 100%;

    .ib-row {
      @include clearfix;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: .4rem;
      }

      [class="ib-timepickers"] {
        float: left;

        &:not(:last-child) {
          margin-right: 0.4rem;
        }
      }


    }

    .ib-timepickers {
      width: 50%;

      width: calc((100% - .4rem)/2);

    }
    .ib-timepickers-fullWidth {
      width: 100%;
      margin-bottom: .4rem;

      .input-group{
        .input-date {
          border-radius: 0;
          background-color: $color-primary-input;
        }
        .timepicker-addon  {
         border-radius: 0;
         background-color: $color-primary-input;
       }
      }

    }
  }
  .inputsTest {
    background-color: $color-primary-input;
  }

  .show-extraDay-messageBox {
    width: 70%;
    margin: 0 auto;

    .show-extraDay-message {
      text-transform: uppercase;
      color:$color-primary;
      font-weight: 700;
      padding: 3rem;
    }
  }
}
