

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px size if default is 16 px to conver to 10px we do 10/16*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
